target/
!.mvn/wrapper/maven-wrapper.jar
logs
work
dist
tmp
data
.DS_Store
.env
conf/.*env
LOG_HOME_IS_UNDEFINED
CATALINA_BASE_IS_UNDEFINED
.vscode

/docker/compose/mysql/
/docker/compose/nginx/conf.d
/docker/compose/nginx/logs
/docker/compose/redis/data/
/docker/compose/tester/data/
/docker/compose/tester/logs/
/docker/compose/tester/plugins/
/docker/compose/tester/tmp/
/docker/compose/tester/conf/.priv.env
/docker/compose/gm/data/
/docker/compose/gm/logs/
/docker/compose/gm/plugins/
/docker/compose/gm/tmp/
/docker/compose/gm/conf/.priv.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gitlab-ci.yml

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
