#-----------------------------------------------------------------------------------
# Installation Configuration
#-----------------------------------------------------------------------------------
# Enable automatic initialization and installation application options, which are enabled by default and will automatically
# turn off after successful installation. Important: Enabling reinstallation will result in data loss in the database.
INSTALL_APPS=AngusTester
# Installation and deploy type, default to SHARED, supporting options:
#  - SHARED: shared installation, all applications share one database.
#  - STANDALONE: tandalone installation, each application uses its own database.
# Note: When all applications share one database, other applications will share a database with the global management application,
# that is, all applications share the database configuration in gm.env; if each application uses an independent database,
# each application needs to configure its own independent database separately.
INSTALL_TYPE=SHARED
# Database type, default is `MYSQL`, supporting options: MYSQL, POSTGRES.
DATABASE_TYPE=MYSQL
# Application deployment and runtime environment, default is `HOST`, supporting options: CONTAINER (Docker, Kubernetes), HOST(Physical/Virtual Machine).
RUNTIME=HOST
# Application and database timezone configuration.
TIMEZONE=Asia/Shanghai
# Maximum upload file size, default value is 1000MB.
MAX_UPLOAD_FILE_SIZE=1000MB
# Maximum upload request size, limiting the total size of multiple files in batch upload, default value is 2000MB.
MAX_UPLOAD_REQUEST_SIZE=2000MB

#-----------------------------------------------------------------------------------
# AngusGM Application Configuration
#-----------------------------------------------------------------------------------
# Application IP(v4) or hostname. Automatically obtain the IPv4 address of the running environment when not configured.
GM_HOST=
# Application port, default value is `8802`.
GM_PORT=8802
# Linked website domain url. If empty, it will be set to http://GM_HOST:GM_PORT. Example value: https://gm.xcan.cloud.
GM_WEBSITE=
# SaaS cloud service API interface address, used to fetch data from the cloud.
GM_CLOUD_APIS_URL_PREFIX=https://bj-c1-prod-apis.xcan.cloud/gm
# Self-host service API interface address, used to read data from the current hosting service. If empty, it will be set to http://GM_HOST:GM_PORT
GM_APIS_URL_PREFIX=
#-----------------------------------------------------------------------------------
# AngusGM Database Configuration
#-----------------------------------------------------------------------------------
# Database IP or hostname, default value is `127.0.0.1`.
GM_DB_HOST=127.0.0.1
# Database port, default value is `3306`.
GM_DB_PORT=3306
# Database name, default value is `Angus`.
GM_DB_NAME=Angus
# Database authentication username, default value is `root`.
GM_DB_USER=root
# Database authentication user password, default value is `Angus123`.
GM_DB_PASSWORD=Angus123

#-----------------------------------------------------------------------------------
# AngusTester Application Configuration
#-----------------------------------------------------------------------------------
# Application IP(v4) or hostname. Automatically obtain the IPv4 address of the running environment when not configured.
# Note: In the docker environment, the host IP address must be specified.
TESTER_HOST=
# Application port, default value is `8901`.
TESTER_PORT=8901
# Linked website domain url. If empty, it will be set to http://TESTER_HOST:TESTER_PORT. Example value: https://tester.xcan.cloud.
TESTER_WEBSITE=
# Application web static resources directory, efault value is `classpath:/static/,file:./statics/`.
TESTER_WEB_STATICS=classpath:/static/,file:./statics/
# Specify the plugins to load, only load the specified plugins when configured, load all plugins when not configured.
TESTER_PLUGIN_LOADED=import-openapi-plugin
# Specify the plugins to ignore, ignore loading the specified plugins when configured, load all plugins when not configured, set to * when ignoring all plugins.
TESTER_PLUGIN_IGNORED=
# Specify the Mock service connection to the AngusTester service address. If empty, it will be set to http://TESTER_HOST:TESTER_PORT
TESTER_APIS_SERVER_URL=
#-----------------------------------------------------------------------------------
# AngusTester Database Configuration
#-----------------------------------------------------------------------------------
# Note: If it is a shared installation (INSTALL_TYPE=SHARED), AngusTester will use the database configuration of the AngusGM application.
# Database IP or hostname, default value is `127.0.0.1`.
TESTER_DB_HOST=127.0.0.1
# Database port, default value is `3306`.
TESTER_DB_PORT=3306
# Database name, default value is `Angus`.
TESTER_DB_NAME=Angus
# Database authentication username, default value is `root`.
TESTER_DB_USER=root
# Database authentication user password, default value is `Angus123`.
TESTER_DB_PASSWORD=Angus123
#-----------------------------------------------------------------------------------
# AngusTester Agent Server Configuration
#-----------------------------------------------------------------------------------
# Agent server port, default value is `5036`.
AGENT_REMOTING_SERVER_PORT=5035
# Timeout for Agent to send messages to node agent client, default `60s`.
AGENT_REMOTING_SEND_TIMEOUT=60000
# Heartbeat interval for agent server connection check, default `30s`.
AGENT_REMOTING_ALLOW_MAX_HEARTBEAT_INTERVAL=30000
#-----------------------------------------------------------------------------------
# AngusTester Agent Installation Script Configuration
#-----------------------------------------------------------------------------------
# Agent package and installation script download URL prefix. For Web UI automation installation.
AGENT_CLOUD_STORAGE_APIS_PREFIX=https://bj-c1-prod-files.xcan.cloud
# Agent version to install.
AGENT_VERSION=1.0.0
# Agent installation package file ID.
AGENT_FILE_ID=297761877096661000
# Linux Agent auto-installation script ID.
AGENT_LINUX_INSTALL_SCRIPT_ID=297761877096660998
# Windows Agent auto-installation script ID.
AGENT_WINDOWS_INSTALL_SCRIPT_ID=245588291569582089
#-----------------------------------------------------------------------------------
# AngusTester Request Proxy Configuration
#-----------------------------------------------------------------------------------
# Whether to start an embedded api request proxy service when launching AngusTester.
# This option is enabled by default and should be disabled during independent deployment.
PROXY_STARTUP_IN_TESTER=true

#-----------------------------------------------------------------------------------
# Redis Configuration
#-----------------------------------------------------------------------------------
# Redis deployment mode, default to SINGLE, supporting options: SINGLE (single instance), SENTINEL (sentinel mode), CLUSTER (cluster mode).
REDIS_DEPLOYMENT=SINGLE
# IP or hostname of Redis in single instance mode, default value is `127.0.0.1`.
REDIS_HOST=localhost
# Port of Redis in single instance mode, default value is `6379`.
REDIS_PORT=6379
# Redis authentication password, default value is `Angus123`, required when Redis security authentication is enabled.
REDIS_PASSWORD=Angus123
# Master node name in sentinel mode, configuration example: mymaster.
REDIS_SENTINEL_MASTER=
# Redis instance list in sentinel mode or cluster mode, configuration example: 192.168.0.100:6379,192.168.0.101:6379,192.168.0.102:6379.
REDIS_NODES=

#-----------------------------------------------------------------------------------
# Eureka Configuration
#-----------------------------------------------------------------------------------
# Configure the Eureka server and dashboard username and password. The default dashboard address is http://GM_HOST:GM_PORT/eureka-dashboard.
EUREKA_USER_NAME=eureka
EUREKA_USER_PASSWORD=eureka

#-----------------------------------------------------------------------------------
# OAuth2.0 Introspect Client Configuration
#-----------------------------------------------------------------------------------
OAUTH2_INTROSPECT_CLIENT_ID=client-credentials-introspect-client
OAUTH2_INTROSPECT_CLIENT_SECRET=secret

#-----------------------------------------------------------------------------------
# Disable SSL for Self-signed certificate
#-----------------------------------------------------------------------------------
DISABLE_SSL_VERIFICATION=false
